
table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.zebra{
    background-color: #9a9898;
}

th {
    background-color: #333;
    color: white;
}
